
.footerClass {
	/*margin-top: 400px;*/
   background: darkgreen;
   color: #eee;
   font-size: 11px;
   padding: 20px;

}
#tab4 h4{
  color: blue;
}
.tabbable img.thumbnail {
   margin: 0 20px 10px 0;
}
ul.unstyled {
   list-style: none;
   padding: 0;
}
#searchInput
{
   width: 200px;
}
navbar-brand{
padding: 13px 15px;
}
.navbar-fixed-top
{
background-color: darkgreen;
} 
#mainContainer
{
   height: 80px;
}
/*.chatTabNav{
  position: fixed;
  width: 100%;

  height:100px;
margin-top:100px;
background:#9fff42;
width:100%;


}*/
.firstTabContent{
  color: black;
 font-family: 'Varela Round', sans-serif;

}
/*#tab1
{
  margin-top: 100px;
}*/
#menu{
   padding-top: 17px;
}
.chatTab{
   margin-top: 80px;
}
.eventTab {
   margin-top: 10px;
}
.tab-content img{
   height: 80px;
   width: 80px;
}
html, body {
    height: 100%;
}
    .footerClass, .push {
    height: 300px; /* .push must be the same height as .footer */
}
.chatTabNav{
   background-color: MediumSeaGreen;
   
}
.eventTabNav{
   background-color: aquamarine;
}
.panel-default  .eventPanel {
    color: black;
    background-color: silver;
    border-color: brown;
}
.feature{
   margin-top: 10px;
}
#myCarousel .item { 
   height: 400px; 
}
.carousel-caption h4 {
   font-size: 32px;
}
.carousel-caption {
   font-size: 24px;
   color: black;
}
#slide1 {
   background: url('../../image/imgName.png') top center no-repeat;
}

#slide2 {
   background: url('../../image/imgEmail.gif') top center no-repeat;
}

#slide3 {
   background: url('../../image/imgPhn.gif') top center no-repeat;
}
#slide4 {
   background: url('../../image/carousel_medium_04.jpg') top center no-repeat;
}
@media (max-width: 768px) 
{
  #myCarousel .item { height: 310px; }
  #slide1 {
   background: url('../../image/imgName.png') top center no-repeat;
}

#slide2 {
   background: url('../../image/imgEmail.gif') top center no-repeat;
}

#slide3 {
   background: url('../../image/imgPhn.gif') top center no-repeat;
}
#slide4 {
   background: url('../../image/carousel_medium_04.jpg') top center no-repeat;
}
   #btnSearch{
   margin-left: 70px;
}
   #menu{
      background-color: silver;
   }
   .thumb1 .thumb2 {
      padding: 0px 0px 10#myCarousel .item { 
   height: 400px; 
}px;
   }
#searchInput
{
   width: 200px;
}
}